<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proposal Manager</title>
    <link rel="stylesheet" href="/public/css/app.css" />
    <link rel="stylesheet" href="/public/css/proposal.css" />
  </head>
  <body>
    <nav class="topbar">
      <div class="container">
        <div class="brand-area">
          <img class="brand-logo" src="https://framerusercontent.com/images/jjOldF3SAkGHttvv2zCCUKBxlYI.svg?width=224&height=79" alt="Company Logo" />
          <a class="brand" href="/">Proposal Manager</a>
        </div>
        <div class="actions">
          <a class="btn" href="/proposals/new">+ New Proposal</a>
        </div>
      </div>
    </nav>
    <main class="container">
      <%- body %>
    </main>
    <script src="/public/js/preview.js"></script>
    <script src="/public/js/home.js"></script>
  </body>
  </html>


